// Form Input Component Stylesheet
// ========================================


// Variables
$form-input-background:          $white-base;
$form-input-border:              1px solid $purple-dark;
$form-input-border-radius:       2px;
$form-input-color:               $white-base;
$form-input-color-placeholder:   $purple-dark;
$form-input-height:              45px;
$form-input-margin:              0 0 $spacer-echo;
$form-input-padding:             $spacer-golf;
$form-input-transition:          border-color 0.4s ease;

$form-input-background-active:   $white-base;
$form-input-border-active:       1px solid $purple-dark;
$form-input-box-shadow-active:   0 0 5px 0 rgba(11, 11, 11, 0.10);

$form-input-background-inactive: $grey-base;
$form-input-border-inactive:     1px solid $grey-base;
$form-input-disabled-border:     1px solid $grey-base;

$form-input-error-background:    $red-base;

$form-input-success-background:  $green-base;


// Structure
#{$all-text-inputs},
.input--text
input,
select {
  @include font-type($primary-font-condensed, normal, 400);
  @include s-foxtrot;
  appearance: none;
  -webkit-appearance: none;
  background-color: $form-input-background;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  color: $form-input-color;
  height: $form-input-height;
  margin: $form-input-margin;
  padding: $form-input-padding;
  transition: $form-input-transition;
  width: 100%;

  &::placeholder {
    color: $form-input-color-placeholder;
    font-style: italic;
  }

  &:focus,
  &:active {
    border-color: $form-input-border-active;
    box-shadow: $form-input-box-shadow-active;
  }

  &:focus {
    background-color: $form-input-background-active;
    border: $form-input-border-active;
    outline: none;
  }

  &:hover {
    border: $form-input-border-active;
  }

  &:active {
    border: $form-input-border-active;
    background-color: $form-input-background-active;
  }

  &:disabled {
    background-color: $form-input-background-inactive;
    background-color: $grey-base;
    border: $form-input-disabled-border;
    color: $grey-base;
    cursor: not-allowed;

    &::placeholder {
      color: $grey-base;
      font-style: italic;
    }
  }
}

textarea {
  height: $form-input-height * 2;
  padding: $form-input-padding;
}


// Form Input Modifiers
input.input--error {
  background: rgba($red-base, .15) image-url('images/icons/icons-functional/icon-error.svg') no-repeat 99% center;
  border-color: $form-input-error-background;

  &:hover {
    border-color: $form-input-error-background;
  }
}

input.input--success {
  background: rgba($green-base, .15) image-url('images/icons/icons-functional/icon-success.svg') no-repeat 99% center;
  border-color: $form-input-success-background;

  &:hover {
    border-color: $form-input-success-background;
  }
}