// Variables

$hero-image: url('../../../assets/dist/img/chicken.jpg') no-repeat center 50%;
$display-none: none;
$display-block: block;
$display-inline-block: inline-block;



// Structure

// header
.site__header {
  // background-color: $green-base;
  // height: 100px;
  // margin: 0;
  // padding: 0;
}

.site-navigation__left {
  display: inline-block;
  width: 45%;
}

.mobile-navigation-logo {
  width: 100%;
  display: inline-block;
  max-width: 200px;

  @include media($medium) {
    display: none;
  }
}

.navigation-logo {
  display: none;

  @include media($medium) {
    display: inline-block;
    width: 90%;
    padding: $spacer-echo $spacer-hotel;
  }
}

.mobile-navigation__trigger {
  padding: $spacer-echo $spacer-hotel;
  float: right;
  display: inline-block;

   @include media($large) {
    display: none;
  }
}

.mobile-navigation__list {
  float: clear;
  display: block;
  transition: all 0.5s ease;
  height: 0;
  overflow: hidden;
  padding: 0;

  &.active {
    height: 100%;
    padding: $spacer-charlie 0 0 0;
    overflow: visible;
  }

  @include media($large) {
    display: $display-none;
  }
}

.mobile-navigation__item {
    background-color: $white-base;
    padding: $spacer-echo;
    text-align: center;
    display: block;
    text-transform: $text-transform-uppercase;
  }

.site-navigation__center {
  display: inline-block;
  vertical-align: bottom;
  margin-left: $spacer-charlie;
}

.navigation__list {
  display: none;

  @include media($large) {
    display: block;
  }
}

.navigation__item {

  @include media($large) {
    display: inline-block;
  }
}

.navigation__link {
  padding: $spacer-delta;
    text-transform: $text-transform-uppercase;
}

.site-navigation__right {
  // float: right;
  display: none;

  @include media($large) {
    display: inline-block;
    float: right;
    vertical-align: bottom;
  }
}

.site-navigation__call {
  margin-top: $spacer-delta;
}


// Page sections
.hero__image {
  background: $hero-image;
  background-size: cover;
  background-color: $green-base;
  height: 200px;
  position: relative;

  @include media($medium) {
    height: 250px;
  }

  h1 {
    @include center;
  }
}

.image__section {
  background-color: $green-base;
  // display: flex;
}

.image-list {
  display: flex;
  flex-flow: row wrap;
  // flex-wrap: wrap;
  justify-content: space-around;
  // list-style-type: none;
  align-items: center;
  // flex-direction: column;

  &__item {
    height: 150px;
    width: 150px;
    background-color: $red-base;
  }
}


.blog__section {
  // background-color: $purple-dark;
  color: $white-base;
  margin: 0 0 0;

   h3, p, a {
    color: $white-base;
  }
}

.blog__preview {
  // list-style-type: none;
  margin: auto;
  padding: 0;
  display: block;
}

.blog__preview-item {
  // list-style: none;
  margin-top: $spacer-bravo;

  @include media($medium) {
    display: inline-block;
  }
}

.blog__image {
  display: none;

  @include media($medium){
    height: 200px;
    width: 220px;
    background-color: $green-base;
    display: block;
    margin: $spacer-echo 0;
  }
}

.blog__preview-content {
  margin-bottom: $spacer-alpha;
}

.blog__view-more {
  @extend .text--bold;
  float: right;
  text-transform: $text-transform-uppercase;
}

// footer
footer {
  clear: both;
}

.footer__container {
  // height: 350px;
  // background-color: $purple-dark;
}


.footer__connect {
  background-color: $orange-base;
  padding: $spacer-alpha 0;
  top: 0;
  vertical-align: top;


  @include media($medium){
    width: 49.5%;
    display: inline-block;
  }
}

.footer--social {
  padding: $spacer-delta;

  &__item {
    padding: $spacer-hotel;
  }

}

.footer__location {
  background-color: $white-base;
  width: 100%;
  top: 0;
  vertical-align: top;
  margin: $spacer-charlie auto;
  padding: $spacer-charlie 0;

  @include media($medium){
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 50%;
  }
}

.footer__logo {
  height: 100px;
  width: 75px;
  background-color: $purple-dark;
  margin: $spacer-delta auto;
}


