// Typography Base Stylesheet
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-font-condensed, normal, 400);
  @include s-foxtrot;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


// Highlight
::selection {
  background: $red-base;
  color: $white-base;
}

::-moz-selection {
  background: $red-base;
  color: $white-base;
}

// Base Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-type($primary-font-condensed, normal, 700);
  color: $purple-dark;
  line-height: 1.0;
  margin-bottom: $spacer-delta;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  @include s-alpha;
  color: $white-base;
  text-shadow: 2px 2px 10px #000000;
  }
h2 { @include s-bravo;   }
h3 { @include s-charlie; }
h4 { @include s-delta;   }
h5 { @include s-echo;    }
h6 { @include s-foxtrot; }


// Base Body Copy
p {
  @include font-type($primary-font-condensed, normal, 400);
  @include s-golf;
  color: $purple-dark;
  line-height: 1.5;
  margin-bottom: $spacer-delta;
}

small {
  @include s-hotel;
}

// Base List Styles
li,
dd{
  @include font-type($primary-font-condensed, normal, 400);
  @include s-foxtrot;
  line-height: normal;
  margin-bottom: $spacer-echo;
}


// Base List Style
a {
  @include font-type(inherit, normal, 400);
  text-decoration: none;
  color: $red-base;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &:focus {
    outline: none;
  }
}


// Base Text Inline Modifiers
b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

// Text Alignment
@each $text-alignment in $text-alignments {
  $name:   nth($text-alignment, 1);
  $align:  nth($text-alignment, 2);

  .text--#{$name} {
    text-align: $align;
  }
}

// Text Colors Map
$type-colors:  (
  'purple':    ( $purple-dark ),
  'red':       ( $red-base   ),
  'green':     ( $green-base  ),
  'orange':    ( $orange-base ),
  'white':     ( $white-base  )
);

// Text Colors
@each $name, $tones in $type-colors {
  $tone-color: nth($tones, 1);

  .text--#{$name} {
    color: $tone-color;
  };
}

// Text Transforms
@each $text-transform in $text-transforms {
  $name:        nth($text-transform, 1);
  $transform:   nth($text-transform, 2);

  .text--#{$name} {
    text-transform: $transform;
  }
}

// Text Weights
.text--bold {
  font-weight: 700;
}

.text--small {
  @extend small;
  @extend .text--bold;
}

.text--large {
  @include s-echo;
}


// Header Styles
.header--primary {
  font-weight: 300;
}